.rootContent {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "price price"
  "shopping pay";
  justify-content: space-between;
  gap: .4em;
  padding: 1rem .5rem;
}

.footerContainer {
  padding: 1rem .5rem;
}

.totalPrice { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  text-align: center;
  border: 1px solid var(--black);
  padding: 1em;
  cursor: pointer;
}

.btnContinueShopping {
  width: 100%;
  grid-area: shopping;
}

.btnPay {
  grid-area: pay;
  color: var(--white);
  background-color: var(--black);
  animation: all .6s ease-in-out;
}

.btnPay:hover {
  opacity: .7;
}

.footer > .totalPrice {
  grid-area: price;
}

.footer > .btnShoppingContainer {
  grid-area: shopping;
}

.footer > .btnPay {
  grid-area: pay;
}


/* Desktop — 1024px and up */
@media (min-width: 1024px) {

  .footerContainer {
    padding: 1em 6em;
  }

  .footer {
    grid-template-columns: 1fr 200px 330px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "shopping price pay";
    justify-content: space-between;
    gap: .4em;
  }

  .totalPrice {
    justify-content: start;
    gap: 3rem;
  }

  .btnContinueShopping {
    width: 30%;
  }

}


