@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  
  /* APP COLORS */
  --text-primary: #212121;
  --text-secundary: #79736D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #212121;
    --desktop-screen-size: min-width: 1024px;
    --tablet-min-screen-size: min-width: 768px;
    --tablet-max-screen-size: min-width: 1023px
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}
