.cardContainer {
  display: flex;
  flex-direction: column;
  border: 0.02em solid var(--text-secundary);
  background-color: #fff;
  padding: 1em;
  cursor: pointer;
}

.cardTitle {
  color: var(--text-secundary);
}

.cardSubTitle {
  color: var(--text-primary);
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}