.headerContainer {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 1em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartContainer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

.cartCount {
  font-size: 1.3em;
}

.backContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

/* Desktop — 1024px and up */
@media (min-width: 1024px) {
  .headerContainer {
    padding: 1em 6em;
  }
}

/* Tablet — 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  
  .headerContainer {
    padding: 1em 6em;
  }

}